<nav aria-label="breadcrumb" *ngIf="pond && project">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active text-muted" aria-current="page">
      Manage Sensors in
      <code>{{pond.name}}</code> in
      <code>{{project.name}}</code>
    </li>
  </ol>
</nav>

<nb-accordion *ngIf="sensorTypes.length > 0" class="bg-transparent w-100">
  <nb-accordion-item class="shadow-sm" *ngFor="let type of sensorTypes">
    <nb-accordion-item-header>{{type.name}} Sensors</nb-accordion-item-header>
    <nb-accordion-item-body>
      <nb-list class="w-100 shadow">
        <nb-list-item class="p-0" *ngFor="let sensor of sensorsGroupByTypes[type.id]">
          <ngx-sensors-list-item [sensor]="sensor" (editSensor)="openDialog(addSensorTemplateRef, $event)"></ngx-sensors-list-item>
        </nb-list-item>
      </nb-list>
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>


<button *ngIf="false" (click)="openDialog(addSensorTemplateRef)" class="btn shadow btn-primary ml-auto rounded-circle add-project-button">
  <i class="fa fa-plus"></i>
</button>

<ng-template #addSensorTemplateRef let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header *ngIf="!data">Add New Sensor</nb-card-header>
    <nb-card-header *ngIf="data">Edit Sensor ({{data.name}})</nb-card-header>
    <nb-card-body>
      <form #addSensorForm="ngForm" autocomplete="off" (submit)="addItem(addSensorForm, ref, data)">
        <input type="hidden" name="projectId" [ngModel]="project?.id">
        <input type="hidden" name="pondId" [ngModel]="pond?.id">
        <div class="form-group">
          <label class="label">Sensor Name</label>
          <input name="name" [ngModel]="data?.name" autofocus type="text" nbInput fullWidth placeholder="Sensor Name">
        </div>
        <div class="form-group">
          <label class="label">Sensor Table Name</label>
          <input name="tableName" [ngModel]="data?.tableName"
                 autofocus type="text" nbInput fullWidth placeholder="Sensor Table Name">
        </div>
        <div class="form-group">
          <label class="label">Priority</label>
          <input name="priority" [ngModel]="data?.priority"
                 autofocus type="number" nbInput fullWidth placeholder="Priority">
        </div>
        <div class="form-group">
          <label class="label">Sensor Type</label>
          <nb-select name="type" [ngModel]="data?.type" fullWidth>
            <nb-option value="" disabled>Select Sensor Type</nb-option>
            <nb-option *ngFor="let sensorType of sensorTypes" [value]="sensorType.id">{{sensorType.name}}</nb-option>
          </nb-select>
        </div>
        <div class="w-100 d-flex justify-content-between">
          <button type="submit" nbButton status="primary">
            {{data ? 'Update' : 'Create'}}
          </button>
          <button type="button" class="ml-2" (click)="addSensorForm.resetForm({});ref.close();" nbButton status="basic">
            Close
          </button>
        </div>
      </form>

    </nb-card-body>
  </nb-card>
</ng-template>
