<h4>Ponds<code>({{ponds.length|number}})</code></h4>
<div class="accordion-container col-12 mt-4 p-0">
  <nb-accordion multi *ngIf="ponds.length > 0">
    <nb-accordion-item class="w-100 shadow-sm border mb-2" *ngFor="let i of ponds">
      <nb-accordion-item-header>
        {{i.name}}
      </nb-accordion-item-header>
      <nb-accordion-item-body class="px-0">
        <h6 class="text-muted p-0 m-0 border-bottom pb-2">Aerators</h6>
        <nb-card hidden>
          <nb-tabset>
            <nb-tab tabTitle="Aerators">
              <nb-list>
                <nb-list-item class="shadow-sm border mb-2 w-100" *ngFor="let aerator of [1]">
                  <div class="w-100">
                    <p class="w-100 m-0 p-2 border-bottom font-weight-bold">Aerator - {{ aerator }}</p>
                    <p class="w-100 m-0 p-0 mt-2">Motor : 2 HP Motor</p>
                    <p class="w-100 m-0 p-0 mt-2">Auto On : <i class="fa fa-clock text-success"></i> Every Day at <code>09:00 PM</code> </p>
                    <p class="w-100 m-0 p-0 mt-2">Auto Off : <i class="fa fa-clock text-danger"></i> Every Next Day <code>at 07:00 AM</code> </p>
                  </div>
                </nb-list-item>
              </nb-list>
            </nb-tab>
            <nb-tab tabTitle="Lights">
              <nb-list>
                <nb-list-item class="shadow-sm border mb-2 w-100" *ngFor="let aerator of [1]">
                  <div class="w-100">
                    <p class="w-100 m-0 p-2 border-bottom font-weight-bold">Aerator - {{ aerator }}</p>
                    <p class="w-100 m-0 p-0 mt-2">Tube Lights : 50 Numbers</p>
                    <p class="w-100 m-0 p-0 mt-2">Auto On : <i class="fa fa-clock text-success"></i> Every Day at <code>07:00 PM</code> </p>
                    <p class="w-100 m-0 p-0 mt-2">Auto Off : <i class="fa fa-clock text-danger"></i> Every Next Day <code>at 06:00 AM</code> </p>
                  </div>
                </nb-list-item>
              </nb-list>
            </nb-tab>
            <nb-tab tabTitle="Feeding Machines">
                <nb-list>
                  <nb-list-item class="shadow-sm border mb-2 w-100" *ngFor="let aerator of [1]">
                    <div class="w-100">
                      <p class="w-100 m-0 p-2 border-bottom font-weight-bold">Feeding Machine - {{ aerator }}</p>
                      <p class="w-100 m-0 p-0 mt-2">Feeding Machine : Brand Name</p>
                      <p class="w-100 m-0 p-0 mt-2">Auto On : <i class="fa fa-clock text-success"></i> Every Day at <code>12:00 PM</code> </p>
                      <p class="w-100 m-0 p-0 pb-2 border-bottom">Auto Off : <i class="fa fa-clock text-danger"></i> Every Day at <code>01:00 PM</code> </p>
                      <p class="w-100 m-0 p-0 mt-2">Auto On : <i class="fa fa-clock text-success"></i> Every Day at <code>07:00 PM</code> </p>
                      <p class="w-100 m-0 p-0 pb-2 border-bottom">Auto Off : <i class="fa fa-clock text-danger"></i> Every Day at <code>08:00 PM</code> </p>
                    </div>
                  </nb-list-item>
                </nb-list>
            </nb-tab>
          </nb-tabset>
        </nb-card>
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>
  <h5 *ngIf="ponds.length == 0;" class="text-warning text-center">No projects to show</h5>
</div>
