<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active text-muted" aria-current="page">Manage Projects</li>
  </ol>
</nav>

<ngx-project-list (deleteProject)="deleteItem($event)"
                  (editProject)="openDialog(addProjectTemplateRef, $event)"
                  [projects]="projects"></ngx-project-list>


<button (click)="openDialog(addProjectTemplateRef)" class="btn shadow btn-primary ml-auto rounded-circle add-project-button">
  <i class="fa fa-plus"></i>
</button>


<ng-template #addProjectTemplateRef let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header *ngIf="!data">Add New Project</nb-card-header>
    <nb-card-header *ngIf="data">Edit Project ({{data.name}})</nb-card-header>
    <nb-card-body>
      <form #addProjectForm="ngForm" autocomplete="off" (submit)="addItem(addProjectForm, ref, data)">
        <div class="form-group">
          <label class="label">Project Name</label>
          <input name="name" [ngModel]="data?.name" autofocus type="text" nbInput fullWidth placeholder="Project Name">
        </div>
        <div class="form-group">
          <label class="label">Address</label>
          <textarea name="address" [ngModel]="data?.address" nbInput fullWidth placeholder="Address"></textarea>
        </div>
        <div class="w-100 d-flex justify-content-between">
          <button type="submit" nbButton status="primary">
            {{data ? 'Update' : 'Create'}}
          </button>
          <button type="button" class="ml-2" (click)="addProjectForm.resetForm({});ref.close();" nbButton status="basic">
            Close
          </button>
        </div>
      </form>

    </nb-card-body>
  </nb-card>
</ng-template>

<!--
ng g c pages/manage-projects/ponds-list/ponds-list-item
-->
