<nb-card class="list-card">
  <nb-card-body class="p-0">
    <nb-list *ngIf="projects.length > 0">
      <nb-list-item *ngFor="let project of projects">
        <ngx-project-list-item
          [project]="project"
          (deleteProject)="deleteProject.emit($event)"
          (editProject)="editProject.emit($event)"
        ></ngx-project-list-item>
      </nb-list-item>
    </nb-list>
    <h5 *ngIf="projects.length == 0;" class="text-warning text-center">No projects to show</h5>
  </nb-card-body>
</nb-card>

